<h1>Zombies</h1>
<div Class="row">
  <% @zombies.each do |zombie| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
          <%= image_tag zombie.photo, alt: "Zombie Picture", class: 'img-fluid' %>
          <div class="caption">
              <h3>nombre: <%= zombie.name %></h3>
              <p>Eliminados: <%= zombie.killed %></p> 
              <p>vidas: <%= zombie.health %></p> 
              <p>Dueño: <%= zombie.user.email if zombie.user %></p> 
              <p><%= link_to 'Show', zombie, class: 'btn btn-primary' %>
                 <%= link_to 'Edit', zombie, class: 'btn btn-warning' %>
                 <%= link_to 'Destroy', zombie,  class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></p>

           </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Zombie', new_zombie_path %>